### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

#Image
!["MBIO612CD2"](IMG_8181.HEIC)

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [13]:
m<-matrix(c(1,2,3,4,5,6) , nrow = 3)
rownames(m)=c("row_1","row_2", "row_3")
colnames(m)=c("col_1","col_2")
m

      col_1 col_2
row_1 1     4
row_2 2     5
row_3 3     6

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [67]:
# Write your answer here
data("airquality")
air<-airquality[order(-airquality$Temp, -airquality$Solar.R),]
head(air,n=15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
121 118   225      2.3 94   8     29
123  85   188      6.3 94   8     31
42   NA   259     10.9 93   6     11
127  91   189      4.6 93   9      4
126  73   183      2.8 93   9      3
70   97   272      5.7 92   7      9
69   97   267      6.3 92   7      8
43   NA   250      9.2 92   6     12
102  NA   222      8.6 92   8     10
125  78   197      5.1 92   9      2
75   NA   291     14.9 91   7     14
124  96   167      6.9 91   9      1
40   71   291     13.8 90   6      9

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [68]:
# Write your answer here
data("airquality")
air2<-airquality[order(-airquality$Temp, airquality$Solar.R),]
head(air2,n=15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
123  85   188      6.3 94   8     31
121 118   225      2.3 94   8     29
126  73   183      2.8 93   9      3
127  91   189      4.6 93   9      4
42   NA   259     10.9 93   6     11
125  78   197      5.1 92   9      2
102  NA   222      8.6 92   8     10
43   NA   250      9.2 92   6     12
69   97   267      6.3 92   7      8
70   97   272      5.7 92   7      9
124  96   167      6.9 91   9      1
75   NA   291     14.9 91   7     14
101 110   207      8.0 90   8      9

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

In [75]:
# option 1
temp_72<-airquality$Temp==72
airquality[temp_72,]
#option 2
subset(airquality,  Temp==72)

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

#### Question 6

* You may have noticed when working with the `airqulity` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called airquality_no_na
  * How many lines have been removed?

In [115]:
# Write your answer here
air3 <- airquality[complete.cases(airquality$Solar.R), ]           
airquality_no_na<- airquality[complete.cases(airquality$Ozone), ]   
#airquality_no_na
answer<-nrow(airquality)-nrow(airquality_no_na)
cat(answer, "rows have been removed")

37 rows have been removed

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.

In [116]:
# Write your answer here
data(airquality)
missingS<-is.na(airquality$Solar.R)
#airquality[missingS,]
#only need means for May and august
#let's start with may 
may<-subset(airquality, Month==5)$Solar.R
may_mean<-mean(may,na.rm=TRUE)
airquality[is.na(airquality$Solar.R)&airquality$Month==5,'Solar.R']<-may_mean
#checking for any NA in may
#airquality[airquality$Month==5,]
#yay! let's do it for august 
aug<-subset(airquality, Month==8)$Solar.R
aug_mean<-mean(aug,na.rm=TRUE)
airquality[is.na(airquality$Solar.R)&airquality$Month==8,'Solar.R']<-aug_mean
#checking for any NA in august
#airquality[airquality$Month==8,]